<h1>{{title}}</h1>
<hr>
<ul class="list-group">
  <li class="list-group-item">Go to the gym</li>
  <li class="list-group-item">Read for 30 minutes</li>
  <li class="list-group-item">Do a codewars kata</li>
  <li class="list-group-item">Submit a job application</li>
</ul>
